Repository keishi-hashimoto/20250927_aws_lambda_sample_zip: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, type checking

actionlint-system:
  name: Lint GitHub Actions workflow files
  description: Runs system-installed actionlint to lint GitHub Actions workflow files
  language: system
  entry: actionlint

type checking:
  name: type checking
  language: system
  entry: uv run mypy

🎬 型チェックについては差分の無かったファイルに対しても実行するように修正
  .pre-commit-config.yaml
Due: none

💚 push 前の自動テストの hook を修正
  .pre-commit-config.yaml
Due: none

🎬 `--group` オプションの利用が可能なバージョンを明示的に指定
  mise.toml
Due: none

🚢 GitHub Actions の中で自動テストを行うように修正
  .github/workflows/deploy.yaml
Due: actionlint-system

🚢 .venv へのダウンロードが発生しないように uv run pytest に --no-sync オプションを追加
  .github/workflows/deploy.yaml
Due: actionlint-system

😇 オプションの位置の誤りを修正
  .github/workflows/deploy.yaml
Due: actionlint-system

🚢 自動テスト削除
  .github/workflows/deploy.yaml
Due: actionlint-system

🆙 S3 バケットとの連携用に boto3 をインストール
  pyproject.toml
  uv.lock
Due: none

✨ S3 イベントの起点となったバケットの情報を取得するように修正
  src/my_func.py
Due: type checking

🆙 boto3 の型付けのために boto3-stubs を追加
  pyproject.toml
  uv.lock
  vendored/boto3_stubs_custom-1.40.40-py3-none-any.whl
Due: none

✨ S3 イベントの起点となったオブジェクトを取得するように修正
  src/my_func.py
Due: type checking

💚 自動テスト削除
  tests/test_myfunc.py
Due: type checking

💪 エラー理由を分かりやすくするために、event のパース処理をデコレータから関数に変更
  src/my_func.py
Due: type checking

😇 S3Model を使うべきところで S3Event を使ってしまっていたので修正
  src/my_func.py
Due: type checking

🐛 key に特殊文字が含まれていた場合に unquote するように修正
  src/my_func.py
Due: type checking

💚 テスト用に依存関係を追加
  pyproject.toml
  uv.lock
Due: none

💚 テスト用の環境変数およびコマンドを設定
  .env.test
  mise.toml
Due: none

✨ イベントソースとなる S3 オブジェクトを ZIP 圧縮してアップロードする処理を追加
  src/my_func.py
Due: type checking

💚 自動テスト追加
  tests/test_make_zip_file/src/japanese_text.txt
  tests/test_make_zip_file/src/sample.txt
  tests/test_make_zip_file/test_make_zip_file.py
  tests/test_upload_zip_file/conftest.py
  tests/test_upload_zip_file/s3_event_record.json
  tests/test_upload_zip_file/test_upload_zip_file.py
Due: type checking

🎬 環境変数を読み込めるように、pre-commit.config を修正
  .pre-commit-config.yaml
Due: none

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  type checking: any of: \.py$
